@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;    
    margin: 0;
}
img {
    max-width: 100%;
    max-height:100%;
}
a {
    text-decoration: none;
}
.wrapper {
    max-width:1300px;
    margin:0 auto;
}

.featuredGames {
    .title {
        color:white;
        font-size:24px;
    }
    .gameSlide {
        padding:0 12px;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        transition: all .075s linear;
        img {
            width:100%;
            height:480px;
            object-fit: cover;
            
        }
        a{
            &:hover{
                h4 {
                    color:red;
                    transition: all .075s linear;
                }
            }
        }
        h4 {
            color:white;
            font-size:18px;
            transition: all .075s linear;
        }
    }
}
.mask {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.5);
}
.singleGame {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height:100vh;
    .gameInfo {
        position: relative;
        z-index: 1;
        padding:128px 0;

        .title {
            margin:0;
            color:white;
            font-size:32px;
        }
        .row {
            display: flex;
            height:70vh;
            background-color: rgba(0,0,0,.5);
            .info, .featuredImage {
                padding:14px;
            }
            .info {
                flex: 2 0 0;
                .description {
                    color:white;
                    font-size:14px;
                    padding-right: 24px;
                    font-weight:300;
                }
            }
            .featuredImage {
                flex: 1 0 0;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}